<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Finalizar Compra</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-2xl font-bold mb-6 text-center">
        Último paso antes de finalizar la compra
      </h1>
      <form
        method="POST"
        action="{% url 'ver_orden' orden.id %}"
        class="max-w-lg mx-auto space-y-4"
      >
        {% csrf_token %}
        <div>
          <label for="tipo_pago" class="block font-medium">Tipo de Pago</label>
          <select
            name="tipo_pago"
            id="tipo_pago"
            class="w-full p-2 border rounded"
          >
            <option value="tarjeta">Tarjeta de crédito/débito</option>
            <option value="efectivo">Efectivo</option>
            <option value="mp">Mercado Pago</option>
          </select>
        </div>
        <div>
          <label for="ubicacion" class="block font-medium">Ubicación:</label>
          <input
            type="text"
            id="ubicacion"
            name="ubicacion"
            placeholder="Tu dirección"
            required
            class="w-full p-2 border rounded"
          />
        </div>

        <!-- Botones alineados horizontalmente con menor distancia -->
        <div class="flex justify-between gap-2"> <!-- Reducir gap a 2 -->
          <button
            type="submit"
            class="bg-blue-600 text-white py-2 px-6 rounded hover:bg-blue-700 w-auto"
          >
            Continuar con la Compra
          </button>
          <form method="POST" action="{% url 'gestionar_compra' orden.id %}">
            {% csrf_token %}
            <button
              type="submit"
              name="accion"
              value="cancelar"
              class="bg-transparent text-red-600 border-2 border-red-600 py-2 px-6 rounded hover:bg-red-600 hover:text-white w-auto"
            >
              Cancelar Compra
            </button>
          </form>
        </div>
      </form>
    </div>
  </body>
</html>
