<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
</head>
<body>
    <h1>Bienvenido a la página de inicio</h1>
    <nav>
        <a href="{% url 'home' %}">Inicio</a> |
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'carrito' %}">Carrito</a> |
        <a href="{% url 'catalogo' %}">Catálogo</a> |
        <a href="{% url 'crud' %}">CRUD</a>
    </nav>
</body>
</html>
